.shop {
    &-map {
        width: 100%;
        height: 414px;

        @include mobile {
            height: 208px;
        }
    }
}

.shop-card {

    // <992時 店鋪資訊卡片分為雙欄
    @include pad {
        width: calc(50% - 12px);
    }

    // <767時 變回單攔滿版
    @include mobile {
        width: 100%;
    }

    // 店鋪資訊卡片的圖片寬度滿版
    &-img {
        width: 100%;
        height: 224px;
    }
}
