.footer {
    padding-top: 48px;
    padding-bottom: 32px;

    @include pad {
        padding-bottom: 40px;
    }

    @include mobile {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.footer-link {
    padding: 4px;
}

.footer-link,
.footer-contact {
    color: $white;

    &:hover {
        color: $gray-200;
    }
}

.footer-contact-content {
    padding-bottom: 32px;
    border-bottom: 1px solid $white;
    @include pad {
        padding-bottom: 24px;
    }
}

.footer-social-link {
    display: block;
    width: 48px;
    height: 48px;

    &:hover {
        opacity: 0.8;
    }

    @include pad {
        width: 40px;
        height: 40px;
    }

    @include mobile {
        width: 24px;
        height: 24px;
    }
}

.footer-border {
    border-bottom: 1px solid $white;
}